.convertion_card{
    margin-inline: auto;
    margin-block: 20px;
    padding-inline: 20px;
    max-width: 695px;
    /* background-color: hsl(0, 0%, 100%); */
}
.convertion_content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(11em, 1fr));
  /* flex-direction: row; */
  align-items: center;
  /* max-width: 400px; */
  gap: 2em;
  /* flex-wrap: wrap; */

}
